/* Global Styles Convention */
:root {
  --primary-color: #41bbff;
  --secondary-color: #ec930c;

  --text-color: #0f3871;
  --secondary-text-color: #000000;
  --sub-text-color: #8c8c8c;

  --error-color: #ff1e21;
  --error-color-100: #fef4f3;
  --error-color-200: #f78ca2;

  --border-color: #ddd;

  --background-color: #ffffff;
  --secondary-background-color: #0f3871;

  --font-size-base: 16px;
  --border-radius: 8px;
}

/* Custom Class Styles */
body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.flex-form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.w-full {
  width: 100%;
}

.sub-title {
  font-size: 14px;
  color: var(--sub-text-color);
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-border-color {
  border: 1px solid var(--border-color);
}

.title-section {
  font-size: 24px;
}
.item-text-section {
  font-size: 14px;
}

/* Responsive Size */
/* 

@media (max-width: 1280px)
@media (max-width: 1000px)
@media (max-width: 960px)
@media (max-width: 600px)
*/
