/* Global Styles Convention */
:root {
  --primary-color: #41bbff;
  --secondary-color: #ec930c;

  --text-color: #0f3871;
  --secondary-text-color: #000000;
  --sub-text-color: #8c8c8c;

  --error-color: #ff1e21;
  --error-color-100: #fef4f3;
  --error-color-200: #f78ca2;

  --border-color: #ddd;

  --background-color: #ffffff;
  --secondary-background-color: #0f3871;

  --font-size-base: 16px;
  --border-radius: 8px;
  
  /* Base Font Sizes */
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;
  --font-size-p: 1rem;
  --font-size-small: 0.875rem;
}

/* Custom Class Styles */
body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.flex-form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.w-full {
  width: 100%;
}

.sub-title {
  font-size: 14px;
  color: var(--sub-text-color);
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-border-color {
  border: 1px solid var(--border-color);
}

.title-section {
  font-size: 24px;
}
.item-text-section {
  font-size: 14px;
}

.resume-title-section {
  padding: 4px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.input-date {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding: 4px;
}

.error-button {
  background-color: var(--error-color);
  color: white;
}

/* Default Font Sizes */
h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  font-size: var(--font-size-p);
}

.small-text {
  font-size: var(--font-size-small);
}

/* Responsive Adjustments */
@media (max-width: 1280px) {
  :root {
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.85rem;
    --font-size-h3: 1.2rem;
    --font-size-p: 0.95rem;
    --font-size-small: 0.85rem;
  }
}

@media (max-width: 960px) {
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1rem;
    --font-size-p: 0.9rem;
    --font-size-small: 0.8rem;
  }
}

@media (max-width: 600px) {
  :root {
    --font-size-h1: 1.75rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1rem;
    --font-size-p: 0.85rem;
    --font-size-small: 0.75rem;
  }
}

/* Responsive Size */
/* 

@media (max-width: 1280px)
@media (max-width: 1000px)
@media (max-width: 960px)
@media (max-width: 600px)
*/
