/* assets/css/global.css */
:root {
  --primary-color: #41bbff;
  --secondary-color: #ec930c;

  --text-color: #0f3871;
  --secondary-text-color: #000000;
  --sub-text-color: #8c8c8c;

  --error-color: #ff1e21;
  --error-color-100: #fef4f3;
  --error-color-200: #f78ca2;

  --border-color: #ddd;

  --background-color: #ffffff;
  --secondary-background-color: #0f3871;

  --font-size-base: 16px;
  --border-radius: 8px;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.flex-form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}
.w-full {
  width: 100%;
}
